{% extends 'STAFF/staffbase.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form action="{% url 'update_client' %}" method="post" enctype="multipart/form-data" class="mt-4">
    {% csrf_token %}
    <div class="form-group">
        <label for="profile_pic">Profile Picture</label>
        <input type="file" name="profile_pic" id="profile_pic" class="form-control-file">
    </div>
    <input type="text" name="client_id" value="{% for i in client %}{{i.admin.id}}{% endfor %}" hidden>
    <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" value="{% for i in client %}{{i.admin.first_name}}{% endfor %}" id="first_name" class="form-control">
    </div>
    <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" value="{% for i in client %}{{i.admin.last_name}}{% endfor %}" id="last_name" class="form-control">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" value="{% for i in client%}{{i.admin.email}}{% endfor %}" id="email" class="form-control">
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <textarea name="address" id="address" cols="30" rows="3" class="form-control">{% for i in client %}{{i.address}}{% endfor %}</textarea>
    </div>
    <div class="form-group">
        <label for="gender">Gender</label>
        <select name="gender" id="gender" class="form-control" required>
            <option>Select Gender</option>
            <option value="Female">Female</option>
            <option value="Male">Male</option>
            <option value="Others">Others</option>
        </select>
    </div>
    <div class="form-group">
        <label for="project_name">Project Name</label>
        <input type="text" name="project_name" value="{% for i in client %}{{i.project_name}}{% endfor %}" id="project_name" class="form-control">
    </div>
    <div class="form-group">
        <label for="project_description">Project Description</label>
        <textarea name="project_description" id="project_description" cols="30" rows="3" class="form-control">{% for i in client %}{{i.project_description}}{% endfor %}</textarea>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" value="{% for i in client%}{{i.admin.username}}{% endfor %}" id="username" class="form-control">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Update Client</button>
</form>

{% endblock %}
