{% extends 'STAFF/staffbase.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<style>
    
.rectangle {

  background-color: #f8f9fa; 
  border: 1px solid #ced4da;
  border-radius: 10px;
  padding: 20px; /* Padding inside the div */
  margin-bottom: 80px; /* Spacing between divs */
  
  
}

</style>
<h3 style="text-align: center;">Welcome To Staff Home Page</h3> <br><br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="rectangle">
        <h4>Total Clients</h4>
        <p>{{total_clients_created_by_staff}}</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="rectangle">
        <h4>Total Suppliers</h4>
        <p>This is some information in the second data.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="rectangle">
        <h4>Total Amount</h4>
        <p>This is some information in the third data.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
