{% extends 'STAFF/staffbase.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<div class="container mt-4">
    <div class="mb-3">
        <button id="toggleEmail" class="btn btn-primary">View Email Column</button>
    </div>   
<table id="example" class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>Image</th>
            <th>Name</th>
            <th>Mail Id</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Project</th>
            <th>Description</th>
            <th>Create Bills</th>
            <th>View Bills</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for i in client %}
        <tr>
            <td>{{i.id}}</td>
            <td><img src="/{{i.admin.profile_pic}}" alt="" height="50px" width="50px"></td>
            <td>{{i.admin.first_name}}&nbsp;{{i.admin.last_name}}</td>
            <td>{{i.admin.email}}</td>
            <td>{{i.gender}}</td>
            <td>{{i.address}}</td>
            <td>{{i.project_name}}</td>
            <td>{{i.project_description}}</td>
            <td>
                
                <a href="{% url 'create_bill' i.id %}" class="btn btn-primary btn-sm">Create</a> 
            </td>
            
            <td>
                <a href="{% url 'view_bills_staff' i.id %}" class="btn btn-info btn-sm">View</a>
            </td>
            <td>
                <a href="{% url 'edit_client' i.id %}" class="btn btn-success btn-sm">Edit</a>
            </td>
            
            <td>
                <a href="{% url 'delete_client' i.id %}"  class="btn btn-danger btn-sm" >Delete</a> 
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#example').DataTable({
            "columnDefs": [
                {
                    "targets": [3], // Index of the Email column
                    "visible": false
                }
            ]
        });

        $('#toggleEmail').on('click', function () {
            var column = table.column(3); // Index of the Email column
            column.visible(!column.visible());
        });
    });
</script>

{% endblock %}
