<form method="post">
    {{user.first_name}}
    {% csrf_token %}
    <!-- Other form fields -->
    <label for="">Installment number:</label>
    {{ form.installment_number }}
    <br><br>
    <label for="">Payment amount: </label>
    {{ form.payment_amount }}
    <br><br>
    <label for="">Staff Name:</label>
   <input type="text" name="first_name" value=" {{user.first_name}}" readonly>
    <br><br>
    <label for="">Paid status:</label>
    {{ form.paid_status }}
    <br><br>
    <button type="submit">Submit</button>
</form>
