<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is Installment Page</h1>
    <table border="1" border-collapse:collapse;>
        <tr>
            <thead>Installment Details</thead>
            <th>Client ID</th>
            <th>Client Name</th>
            <th>Installment Number</th>
            <th>Payment Amount</th>
            <th>Due Date</th>
            <th>Payment Date</th>
        </tr>
        <tbody>
            {% for i in installment %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.client}}</td>
                <td>{{i.installment_number}}</td>
                <td>{{i.payment_amount}}</td>
                <td>{{i.due_date}}</td>
                <td>{{i.payment_date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>