<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Client Bill Details</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Bill Id</th>
                <th>Client Name</th>
                <th>Installment Section</th>
                <th>Amount</th>
                <th>Paid</th>
            </tr>
        </thead>
        <tbody>
            {% for i in bills %}
            <tr>
                <td>{{i.id}}</td>
                <td>Kiran</td>
                <td>{{i.installment_number}}</td>
                <td>{{i.payment_amount}}</td>
                <td>{{i.paid_status}}</td>
                <td>
                
                    <a href="">Edit</a>
                   
                    <a href="">Delete</a> 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
