v{% extends 'CLIENT/clientbase.html' %}

   {% block content%}
   <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
   <table id="example" class="table table-striped">
        <thead>
            <tr>
                <th>Bill Id</th>
                <th>Installment Section</th>
                <th>Amount</th>
                <th>Paid Status</th>
                <th>Due Date</th>
                <th>Paid Date</th>

            </tr>
        </thead>
        <tbody>
            {% for i in bills %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.installment_number}}</td>
                <td>{{i.payment_amount}}</td>
                <td>{{i.paid_status}}</td>
                <td>{{i.due_date}}</td>
                <td>{{i.paid_date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Total amount Paid:{{total_payment}}</h3>
    <h3>Balance to be Paid:{{total_balance}}</h3>



    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    
    {% endblock %}
