{% extends 'OWNER/ownerbase.html' %}

{% block content %}
<div class="container">
    {% if messages %}
    <div class="alert alert-info">
        <ul class="list-unstyled mb-0">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <h4>Create a New Staff</h4>
    <form class="form-container" action="{% url 'add_staff' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <label for="profile_pic" class="form-label">Profile Picture</label>
            <input class="form-control file-input" type="file" name="profile_pic" id="profile_pic">
        </div>

        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input class="form-control" type="text" name="first_name" id="first_name" placeholder="First Name">
        </div>

        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input class="form-control" type="text" name="last_name" id="last_name" placeholder="Last name">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input class="form-control" type="email" name="email" id="email" placeholder="Email">
        </div>

        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <textarea class="form-control" name="address" id="address" cols="10" rows="1" placeholder="Address"></textarea>
        </div>

        <div class="mb-3">
            <label for="gender" class="form-label">Gender</label>
            <select class="form-control select-input" name="gender" id="gender" required>
                <option>Select Gender</option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                <option value="Others">Others</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input class="form-control" type="text" name="username" id="username" placeholder="Username">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input class="form-control" type="password" name="password" id="password" placeholder="Password">
        </div>

        <button class="btn btn-primary" type="submit">Add Staff</button>
    </form>
</div>
{% endblock %}
