{% extends 'OWNER/ownerbase.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<div class="container mt-4">
    <div class="mb-3">
        <button id="toggleEmail" class="btn btn-primary">Toggle Email Column</button>
    </div>
    <table id="example" class="table table-striped">
         <thead>
            <tr>
                <th colspan="8" class="text-center">CLIENT LIST</th>
            </tr>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Name</th>
                <th>Mail Id</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Project</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for i in client %} 
            <tr>
                <td>{{i.id}}</td>
                <td><img src="/{{i.admin.profile_pic}}" alt="" class="img-fluid rounded-circle" style="width: 50px; height: 50px;"></td>
                <td>{{i.admin.first_name}}&nbsp;{{i.admin.last_name}}</td>
                <td>{{i.admin.email}}</td>
                <td>{{i.gender}}</td>
                <td>{{i.address}}</td>
                <td>{{i.project_name}}</td>
                <td>{{i.project_description}}</td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#example').DataTable();

        $('#toggleEmail').on('click', function () {
            var column = table.column(3); // Index of the Email column
            column.visible(!column.visible());
        });
    });
</script>
{% endblock %}
