

{% extends 'OWNER/ownerbase.html' %}


{% block title %}Dashboard{% endblock %}



{% block content %}

    <form class="form-container" action="{% url 'update_staff' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        Profile Picture: <input class="form-input file-input" type="file" name="profile_pic">
        <input class="form-input" type="text" name="staff_id" value="{% for i in staff %}{{i.admin.id}}{% endfor %}" hidden>
        First Name: <input class="form-input" type="text" name="first_name" value="{% for i in staff%}{{i.admin.first_name}}{% endfor %}"> 
        Last name: <input class="form-input" type="text" name="last_name" value="{% for i in staff%}{{i.admin.last_name}}{% endfor %}"> 
        Email: <input class="form-input" type="text" name="email" value="{% for i in staff%}{{i.admin.email}}{% endfor %}">
        Address:<textarea class="form-input" name="address" id="" cols="10" rows="1">{% for i in staff%}{{i.address}}{% endfor %}</textarea>
        Gender:
            <select class="form-input select-input" name="gender" id="" required>
                <option>Select Gender</option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                <option value="Others">Others</option>
            </select> <br><br>
        Username: <input class="form-input" type="text" name="username" value="{% for i in staff%}{{i.admin.username}}{% endfor %}"> 
        Password: <input class="form-input" type="text" name="password"> 
        <button class="submit-btn" type="submit">Update Staff</button>
    </form>

{% endblock %}
