<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Purchase Details</h1>
<table border="1">
    <thead>
        <tr>
            <th>Purchase Id</th>
            <th>Supplier</th>
            <th>Payment Amount</th>
            <th>Paid Status</th>
        </tr>
    </thead>
    <tbody>
        {% for i in purchase %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{ i.supplier }}</td>
            <td>{{ i.payment_amount }}</td>  
            <td>{{ i.paid_status }}</td> 

        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'supplier_all_details' %}">More Details</a>
<h2>Total Amount Paid: {{total_payment}}</h2>
<h2>Total Balance : {{total_balance}}</h2>
</body>
</html>