{% extends 'OWNER/ownerbase.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<style>
.rectangle {
  background-color: #f8f9fa; 
  border: 1px solid #ced4da;
  border-radius: 10px;
  padding: 20px; /* Padding inside the div */
  margin-bottom: 80px; /* Spacing between divs */
}
</style>
<h3 style="text-align: center;">Welcome To Admin Home Page</h3> <br><br>
<div class="container">
  <div class="row">
 

    <div class="col-md-4">
        <div class="rectangle">
          <h4>Bills Charged To Clients: {{  total_payment_amount }}</h4> <!-- Display the total clients count here -->
        </div>
      </div>
       
      <div class="col-md-4">
        <div class="rectangle">
          <h4>Client's Paid Amount: {{  client_total_paid_amount }}</h4> <!-- Display the total clients count here -->
        </div>
      </div>

      <div class="col-md-4">
        <div class="rectangle">
          <h4>Client's Payment Balance: {{ client_total_balance_payment }}</h4> <!-- Display the total clients count here -->
        </div>
      </div>

      <div class="col-md-4">
        <div class="rectangle">
          <h4>Paid amount to suppliers: {{  total_payment_supplier }}</h4> <!-- Display the total clients count here -->
        </div>
      </div>


      <div class="col-md-4">
        <div class="rectangle">
          <h4>Supplier's Balance Payment: {{  total_payment_supplier }}</h4> <!-- Display the total clients count here -->
        </div>
      </div>

   
  </div>
  
</div>
 <h2>client_total_balance_payment:{{ client_total_balance_payment }}</h2>
{% endblock %}

