
{% extends 'OWNER/ownerbase.html' %}

{% block title %}Dashboard{% endblock %}

{% block content%}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<table id="example" class="table table-striped">
     <thead>
        <tr>
            <th>Purchase Id</th>
            <th>Supplier</th>
            <th>Payment Amount</th>
            <th>Paid Status</th>
        </tr>
    </thead>
    <tbody>
        {% for i in purchase %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{ i.supplier }}</td>
            <td>{{ i.payment_amount }}</td>  
            <td>{{ i.paid_status }}</td> 

        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'supplier_all_details' %}">More Details</a>
<h2>Total Amount Paid: {{total_payment}}</h2>
<h2>Total Balance : {{total_balance}}</h2>


<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>

{% endblock %}
