<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Purchase Details</h1>
<table border="1">
    <thead>
        <tr>
            <th>Purchase Id</th>
            <th>Supplier</th>
            <th>Staff Name</th>
            <th>Row Materials</th>
            <th>Quantity in Kg</th>
            <th>Payment Amount</th>
            <th>Due Date</th>
            <th>Paid Date</th>
            <th>Paid Status</th>
        </tr>
    </thead>
    <tbody>
        {% for i in purchase %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{ i.supplier }}</td>
            <td>{{i.staff_name}}</td>
            <td>{{ i.row_materials }}</td>
            <td>{{ i.quantity }}</td>
            <td>{{ i.payment_amount }}</td>
            <td>{{ i.due_date }}</td>
            <td>{{ i.paid_date }}</td>   
            <td>{{ i.paid_status }}</td> 
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>