<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    This is Owner Page
    <h4><strong>welcome  </strong><span>{{user.first_name}}&nbsp;{{user.last_name}}</span></h4>
    <a href="{% url 'profile' %}">My profile</a>
    <a href="{% url 'add_staff' %}">staff Add</a>
    <a href="{% url 'view_staff' %}">Staff view</a>
    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>