<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Staff Details</h1>
    <table border="1">
        <thead>
            <tr>
                <th>updated_at</th>
            </tr>
        </thead>
        <tbody>
            {% for i in staff %}
            <tr>
                <td>{{i.id}}</td>
                <td><img src="/{{i.admin.profile_pic}}" alt="" height="50px" width="50px"></td>
                <td>{{i.admin.first_name}}&nbsp;{{i.admin.last_name}}</td>
                <td>{{i.admin.email}}</td>
                <td>{{i.gender}}</td>
                <td>{{i.address}}</td>
                <td>{{i.created_at}}</td>
                <td>{{i.updated_at}}</td>
                <td>
                    <a href="{% url 'edit_staff' i.id %}">Edit</a>
                    <a href="{% url 'delete_staff' i.id %}">Delete</a> 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>